PORT=3000
MQTT_URL=mqtt://broker.hivemq.com:1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_SUBSCRIBE=factory/qc/+/event
MQTT_TOPIC_COMMAND=factory/qc/{machineCode}/command
DEFAULT_PLANNED_RUNTIME_SECONDS=28800
DEFAULT_IDEAL_CYCLE_SECONDS=30
